.content__userPhoto{ 
    max-height: 200px;
    min-height: 170px;

  overflow: hidden;
  border-radius: 10px;
  margin: 0 20px 0 0 ;
  }
 
  .content__userPhoto img{
    height: 100%;
  }
    .img{
        max-width: 150px;
        width:100%;
    }
