.dialogBar__friendMassage{
    display: flex;
background-color: white;
border-radius: 10px;
margin: 0 0 5px 0;
}
.NameTimeMassageWrapper{

}
.FriendAvatar{
    display: block;
    margin: 7px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
background-color: aqua;
}
.NameTimeWrapper{
display: flex;

}
.FriendName{
    flex-grow: 1;
}