
  .Main{
    display: flex;
flex-grow: 1;
flex-direction: column;

}


/* margin: 0 auto; для горизонтального центрирования */
.Flexbox{
 flex-grow: 1;
    display: flex;

  
  }
  .Margin{
    display: flex;
    flex-grow: 1;
  max-width: none;
  min-width: 20px;
  }
  
