body{
  font-family: "Raleway";
  min-height: 100%;
  background-color: rgb(219, 218, 218);
 
}
.App{
  min-height: 100%;
  display: flex;
flex-direction: column;

}
input, button{
  display: block;
  margin: 5px 10px;
}


.Main{
 flex-grow: 1;
}