.Btn{
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: white;
  
    background-color: rgb(122, 162, 248);
    border-radius: 10px;
   padding: 0px 15px ;
       margin: 0 0 5px 0;
    text-align: center;
    line-height: 40px;
  }