.ProfileWrapper{

}

.Profile{
    display: flex;
    background-color: white;
    margin: 5px 5px 5px 0;
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
  }

  .Profile__userInfo{
      
  }
