.Friend{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
}

.Friend__Avatar{

}

.Friend__InfoWrapper{

}

.Friend__Name{



}
.Friend__Status{

}
.Friend__Massage_Btn{
   
}