.logo__wrapper{
    display: flex;
  }
  .logo__img{
    display: block;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    margin: 0 20px 0 0;
  }
  .logo__name{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
  }

  