
.footer__wrapper{
    padding: 10px;
}
.footer__menu-wrapper{
    display: flex;
    flex-direction: column;
    max-height: 100px;
    font-weight: 500px;
    font-size: 10px;
    justify-content: space-between;

  
}

.footer a{
    

}

.footer__rights{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 10px;
}